
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i')

$pfont: 'Fira Sans', sans-serif
$sfont: 'Open Sans', sans-serif

$pfonts: 16px
$hfonts: $pfonts * 6
$shfonts: $pfonts * 2.25
$nhfonts: $pfonts * 3
$nshfonts: $pfonts * 1.5
$qfonts: $pfonts * 0.7
