.navbar-brand
  padding: 0
  margin-right: 20px
  img
    height: 100%
    width: auto
    padding-left: 12px

.navbar
  box-shadow: 0px 3px 10px black
  padding: 10px 0
  background-color: white

.nav
  li
    margin: 0 10px
    font-size: 18px
    color: black
