.navbar
  box-shadow: 0px 3px 10px black
  padding: 10px 0
  background-color: white
  .navbar-brand
    padding: 0
    margin-right: 20px
    img
      height: 100%
      width: auto
      padding-left: 12px
  .nav
    li
      margin: 0 10px
      font-size: 18px
      color: $pcolor
      font-weight: 400
      transition: all 200ms ease-in-out
      &:hover
        background-color: $lscolor
        transform: scale(1.1)
        a
          color: $accent
      &:hover.logo-social
        background: transparent
        transform: scale(1)
        img
          border-radius: 50%
          box-shadow: 10px 10px 1px -5px $lscolor
          transform: translate(-2px,-5px)

  .logo-social
    img
      width: 25px
      height: 25px
      transition: all 200ms ease-in-out

@media screen and (max-width: 960px)
  .logo-social
    float: left
